<!-- Author:Riccardo Reali
Date: 15-02-2023 -->


<head>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="styleSheet" href="./styleSheet/app.css">
    <script src="./Scripts/scripts.js"></script>      
</head>

<body id="top1">
          
  <div class="layer1 spacer"></div>       
    <!-- Header with full-height image -->
      <header class="w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-white " style="padding:48px">
            <span style="color:dimgray;" class="w3-xxlarge w3-hide-small">Empower your organization with effective data management</span><br>            
            <span style="color:dimgray;" class="w3-large">Stop wasting valuable time right now.</span>
            <p><a href="#about" class="w3-button w3-black w3-padding-large w3-large w3-margin-top w3-hover-opacity-off">Learn more and start today</a></p>
        </div>          
      </header>       
      <hr>
      <div class="bgimg-1"></div>
      <section>
        <!-- About Section -->
        <div class="w3-container" style="padding:128px 16px" id="about">
          <h3 class="w3-center">ABOUT THE COMPANY</h3>
          <p class="w3-center w3-large">Key features of our company</p>
          <div class="w3-row-padding w3-center" style="margin-top:64px">
            <div class="w3-quarter">
              <i class="fa-solid fa-hourglass-start w3-margin-bottom w3-jumbo w3-center"></i>
              <p class="w3-large">Time saving</p>
              <p>Our data management system will help protect your data from unauthorized access or theft, ensuring that your sensitive information remains secure.</p>
            </div>
            <div class="w3-quarter">
              <i class="fa-solid fa-square-check w3-margin-bottom w3-jumbo"></i>
              <p class="w3-large">Accurate</p>
              <p>Our data management system will help protect your data from unauthorized access or theft, ensuring that your sensitive information remains secure.</p>
            </div>
            <div class="w3-quarter">
              <i class="fa-solid fa-file-shield w3-margin-bottom w3-jumbo"></i>
              <p class="w3-large">Enhanced security</p>
              <p>Our data management system will help protect your data from unauthorized access or theft, ensuring that your sensitive information remains secure.</p>
            </div>
            <div class="w3-quarter">
              <i class="fa-solid fa-piggy-bank w3-margin-bottom w3-jumbo"></i>
              <p class="w3-large">Cost savings</p>
              <p> By using our data management system, you can reduce the need for manual data entry and processing, which can save you money on labor costs and reduce the risk of errors.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section>
        <!-- Promo Section - "We know design" -->
        <div class="w3-container w3-light-grey" style="padding:128px 16px">
          <div class="w3-row-padding">
            <div class="w3-col m6">
              <h3>We know what we are doing.</h3>
              <p>At our company, we prioritize building trust with our customers above all else. We understand that trusting a company with sensitive data can be a big decision, which is why we go above and beyond to ensure that our customers feel confident and secure using our products. From utilizing industry-standard security measures to regularly testing and improving our software, we make it our mission to provide a reliable and trustworthy data management system. Our commitment to transparency, reliability, and exceptional customer service sets us apart from the competition and is the reason why our customers continue to trust us with their most important data.</p>
            </div>
            <div class="w3-col m6">
              <img class="w3-image w3-round-large" src="/images/query.png" alt="Buildings" width="700" height="394">
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section>
         <!-- Promo Section "Statistics" -->
         <div class="layer4 spacer text-center"><p1 class="w3-xxlarge"> What we Accomplished</p1></div> 
         <div style="padding-left: 250px; padding-bottom: 30px;" class="w3-container w3-row w3-center w3-dark-grey ">
          <div class="w3-quarter">
            <span class="w3-xxlarge">5</span>
            <br>Partners
          </div>
          <div class="w3-quarter">
            <span class="w3-xxlarge">55</span>
            <br>Servers
          </div>          
          <div class="w3-quarter">
            <span class="w3-xxlarge">150+</span>
            <br>Happy Clients  
          </div>                                           
      </section> 
      <div class="layer5 spacer"></div> 

      <section class="text-center">
        <a href="#top1" class="w3-button text-center w3-black"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      </section>           
  <div class="layer2 spacer"></div>        
</body>


<style>
.spacer 
{
    aspect-ratio: 680/150;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 
{
  background-image: url('./images/aboutLayerTop.svg');
} 

.layer2 
{
  background-image: url('./images/aboutLayerbottom.svg');
}       

.layer3 
{
  background-image: url('./images/homePoly1.svg');
}

.layer4 
{
  background-image: url('./images/homeCenter1.svg');
}

.layer5 
{
  background-image: url('./images/homeCenter2.svg');
}
</style>

<!-- CHATBOT -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/640405e44247f20fefe4065a/1gqnre1al';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->