

<body>
  <div class="layer1 spacer"></div>  
  <h1 class="text-center">PROFILE</h1>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div id="profile-card" class="card p-4"> 
    <div class=" image d-flex flex-column justify-content-center align-items-center ">
      <button id="imageButton" class="btn btn-secondary">
        <img src="./images/male.png" height="100" width="100" />
      </button>
      <br>
      <p1 style="font-size:xx-large; padding: 8px; color: black;" class="text-center display-4 fw-normal text-decoration-none">Name:</p1>
      <span style="color:dodgerblue" class="idd editable" id="name"></span>
      <p1 style="font-size:xx-large; padding: 8px; color: black;" class="text-center display-4 fw-normal text-decoration-none">Username:</p1>
      <span>@<span style="color: dodgerblue" class="idd editable" id="idd"></span></span>
      <p1 style="font-size:xx-large; padding: 8px; color: black;" class="text-center display-4 fw-normal text-decoration-none">Role:</p1>
      <span style="color:dodgerblue" class="idd editable" id="idd1"> </span>                            
    <div class=" d-flex mt-2">
    <br>
    <button class="btn1 btn-dark">Edit Profile</button> 
  </div> 
  <div class="text profileText mt-3"> 
    <span>This is your account page. Click on Edit to change the highlighted data and your avatar.
      <br><br> 
    </span> 
  </div>   
</div> 
</div>
</div>
<div class="layer2 spacer"></div>
</body>

<style>
* 
{
    margin: 0;
    padding: 0
}

.card 
{
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img 
{
    transition: all 0.5s
}

.card:hover .image img 
{
    transform: scale(1.5)
}

.btn 
{
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name 
{
    font-size: 22px;
    font-weight: bold
}

.idd 
{
    font-size: 14px;
    font-weight: 600
}

.idd1 
{
    font-size: 12px
}

.number 
{
    font-size: 22px;
    font-weight: bold
}

.follow 
{
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 
{
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span 
{
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i 
{
    font-size: 19px
}

hr .new1 
{
    border: 1px solid
}

.join 
{
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date 
{
    background-color: #ccc
}

.spacer 
{
  aspect-ratio: 680/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
    
.layer1 
{
  background-image: url('./images/aboutLayerTop.svg');
} 
    
.layer2 
{
  background-image: url('./images/aboutLayerbottom.svg');
}   

.editable.highlight 
{
  background-color:rgb(237, 236, 159);
  border-radius: 50px;
  width:max-content;
}
</style>


<script>

// Add an event listener to the edit button that will toggle the edit mode on and off.
const editButton = document.querySelector('.btn1');
const nameField = document.querySelector('#name');
const iddField = document.querySelector('#idd');
const idd1Field = document.querySelector('#idd1');
const imageButton = document.querySelector('#imageButton');
let isEditMode = false;

// Retrieve the saved data from local storage when the page loads
window.addEventListener('load', () => {
  const savedData = JSON.parse(localStorage.getItem('profileData')) || {};
  nameField.textContent = savedData.name || nameField.textContent;
  iddField.textContent = savedData.idd || iddField.textContent;
  idd1Field.textContent = savedData.idd1 || idd1Field.textContent;
  currentAvatar = savedData.avatar || currentAvatar;
  imageButton.querySelector('img').src = currentAvatar;
});

editButton.addEventListener('click', () => {
  isEditMode = !isEditMode;
  if (isEditMode) {
    editButton.textContent = 'Save Changes';
    nameField.contentEditable = 'true';
    iddField.contentEditable = 'true';
    idd1Field.contentEditable = 'true';

    // Highlight the editable elements
    const editableElements = document.querySelectorAll('.editable');
    editableElements.forEach((element) => {
      element.classList.add('highlight');
    });
  } else {
    editButton.textContent = 'Edit Profile';
    nameField.contentEditable = 'false';
    iddField.contentEditable = 'false';
    idd1Field.contentEditable = 'false';

    // Remove the highlight from the editable elements
    const editableElements = document.querySelectorAll('.editable');
    editableElements.forEach((element) => {
      element.classList.remove('highlight');
    });

    // Save the updated data to local storage
    const profileData = {
      name: nameField.textContent,
      idd: iddField.textContent,
      idd1: idd1Field.textContent,
      avatar: currentAvatar,
    };
    localStorage.setItem('profileData', JSON.stringify(profileData));
  }
});


// Add an event listener to the image button that will switch the image source between male and female avatars.
const maleAvatar = './images/male.png';
const femaleAvatar = './images/female.png';
let currentAvatar = maleAvatar;

imageButton.addEventListener('click', () => {
  if (isEditMode) {
    currentAvatar = currentAvatar === maleAvatar ? femaleAvatar : maleAvatar;
    imageButton.querySelector('img').src = currentAvatar;
  }
});
</script>

