<!-- Author:Riccardo Reali
Date: 15-02-2023 -->

<nav style="background-color: cornflowerblue; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="size navbar-expand-lg bg-body-tertiary">
    <div class=" container-fluid">        
        <p1 class="footerText">
          <span>©️ Copyright RRSystems DBMS 2023</span>
        </p1>      
  </div>
  </nav>



  <!-- ALTERNATIVE FOOTER: 
  <nav style="background-color: cornflowerblue;" class="size mt-auto">
    <div class="row">      
      <div style="padding-left: 100px;" class="col-6 col-md">
        <h5>Features</h5>        
        <ul class="list-unstyled text-small">
          <li class="mb-1"></li><a href="#" class="text-decoration-none text-white">Terms of Sale</a></li>
          <li class="mb-1"></li><a href="#" class="text-decoration-none text-white">Shipping & Returns</a></li>
          <li class="mb-1"></li><a href="#" class="text-decoration-none text-white">Payment Options</a></li>
          <li class="mb-1"></li><a href="#" class="text-decoration-none text-white">FAQs</a></li>
          <li class="mb-1"></li><a href="#" class="text-decoration-none text-white">Disclaimer</a></li>
          <li class="mb-1"></li><a href="#" class="text-decoration-none text-white">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="navbar-column col-6 col-md">
        <h5>Follow Us</h5>        
        <a style="padding-right: 10px;" href="#"><i class="fab fa-facebook text-white"></i></a>
        <a style="padding-right: 10px;" href="#"><i class="fab fa-twitter text-white"></i></a>
        <a style="padding-right: 10px;" href="#"><i class="fab fa-instagram text-white"></i></a>
        <a style="padding-right: 10px;" href="#"><i class="fab fa-linkedin text-white"></i></a>
      </div>
      <div class="col-6 col-md">
        <h5>We Accept</h5>
        <ul class="list-unstyled text-small">
          <li style="padding-bottom: 10px;" class="mb-1 text-white"></li><img src="https://www.example.com/images/visa.png" alt="Visa"></li>
          <li style="padding-bottom: 10px;" class="mb-1 text-white"></li><img src="https://www.example.com/images/mastercard.png" alt="Mastercard"></li>
          <li style="padding-bottom: 10px;" class="mb-1 text-white"></li><img src="https://www.example.com/images/paypal.png" alt="PayPal"></li>
        </ul>
      </div>
      <hr>
      <div style="padding-bottom: 8px;" class="container-fluid">        
        <p1 class="footerText">
          <span class="text-center">&copy; 2023 RRSystems DBMS</span>
        </p1>      
      </div>
    </div>
  </nav>
  
  <style>
    html, body {
      height: 100%;
    }
    .size {
      min-height: 100%;
    }
  </style> -->
  