<!-- Author:Riccardo Reali
Date: 15-02-2023 -->

<nav style="background-color: cornflowerblue;" class="size fixed-bottom navbar-expand-lg bg-body-tertiary">
    <div class=" container-fluid">        
        <p1 class="footerText">
          <span class="span" >©️ Copyright RRSystems DBMS 2023</span>
        </p1>      
  </div>
  </nav>